




.Sec{
    background-color: tomato;
    color: aliceblue;
    padding: 30px;
    margin: 30px;
    border: 13px solid gray;
    border-bottom-left-radius: 30px ;
    box-shadow: 3px 4px 6px 7px black;
}
.parents{
    display: flex;
   h1{
    color: blueviolet;
     border: 5px solid blue;
    margin: 20px;
    padding: 20px;
}
}

