.burger{

}
.content{
    padding: 50px;
    p{
        
    }
    h1{
        
        font-size: 30px;
        word-spacing: 10px;
        line-height: 5px;
    }
 
button{
    
    background-color: tomato;
}
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: navajowhite;
}